name: docmost
services:
  docmost:
    environment:
      APP_SECRET: ${APP_SECRET}
      APP_URL: ${APP_URL}
      DATABASE_URL: ${DATABASE_URL}
      REDIS_URL: ${REDIS_URL}
    image: docmost/docmost:0.21.0
    ports:
    - protocol: tcp
      published: 3000
      target: 3000
    volumes:
    - source: /AppData/$AppID/storage
      target: /app/data/storage
      type: bind
  docmost-db:
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    image: postgres:16-alpine
    volumes:
    - source: /AppData/$AppID/pgdata
      target: /var/lib/postgresql/data
      type: bind
  docmost-redis:
    image: redis:7.2-alpine
    volumes:
    - source: /AppData/$AppID/redis
      target: /data
      type: bind
