name: holoplay
services:
  holoplay:
    image: spout8301/holoplay:1.12.3
    ports:
      - protocol: tcp
        published: 3000
        target: 3000
    restart: 'unless-stopped'
    logging:
      driver: journald
      options:
        tag: '{{.Name}}'
