name: immich
services:
  database:
    command:
    - postgres
    - -c
    - shared_preload_libraries=vectors.so
    - -c
    - search_path="$$user", public, vectors
    - -c
    - logging_collector=on
    - -c
    - max_wal_size=2GB
    - -c
    - shared_buffers=512MB
    - -c
    - wal_compression=on
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_INITDB_ARGS: ${POSTGRES_INITDB_ARGS}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    image: docker.io/tensorchord/pgvecto-rs:pg14-v0.2.0@sha256:739cdd626151ff1f796dc95a6591b55a714f341c737e27f045019ceabf8e8c52
    volumes:
    - source: ${CONTAINER_DATA_ROOT}/pgdata
      target: /var/lib/postgresql/data
      type: bind
  immich-machine-learning:
    environment:
      DB_DATABASE_NAME: ${DB_DATABASE_NAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_USERNAME: ${DB_USERNAME}
    image: altran1502/immich-machine-learning:v1.132.3
    volumes:
    - source: ${CONTAINER_DATA_ROOT}/model-cache
      target: /cache
      type: bind
  immich-server:
    environment:
      DB_DATABASE_NAME: ${DB_DATABASE_NAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_USERNAME: ${DB_USERNAME}
    image: altran1502/immich-server:v1.132.3
    ports:
    - protocol: tcp
      published: 2283
      target: 2283
    volumes:
    - source: /Gallery/immich
      target: /usr/src/app/upload
      type: bind
    - read_only: true
      source: /etc/localtime
      target: /etc/localtime
      type: bind
  redis:
    image: docker.io/redis:6.2-alpine@sha256:148bb5411c184abd288d9aaed139c98123eeb8824c5d3fce03cf721db58066d8
    volumes:
    - source: ${CONTAINER_DATA_ROOT}/redis
      target: /data
      type: bind
