name: archivebox
services:
  archivebox:
    environment:
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      ADMIN_USERNAME: ${ADMIN_USERNAME}
      ALLOWED_HOSTS: ${ALLOWED_HOSTS}
      CSRF_TRUSTED_ORIGINS: ${CSRF_TRUSTED_ORIGINS}
      PUBLIC_ADD_VIEW: ${PUBLIC_ADD_VIEW}
      PUBLIC_INDEX: ${PUBLIC_INDEX}
      PUBLIC_SNAPSHOTS: ${PUBLIC_SNAPSHOTS}
      SEARCH_BACKEND_ENGINE: ${SEARCH_BACKEND_ENGINE}
      SEARCH_BACKEND_HOST_NAME: ${SEARCH_BACKEND_HOST_NAME}
      SEARCH_BACKEND_PASSWORD: ${SEARCH_BACKEND_PASSWORD}
    image: archivebox/archivebox:0.7.3
    ports:
    - protocol: tcp
      published: 18010
      target: 8000
    volumes:
    - source: /AppData/$AppID/data
      target: /data
      type: bind
  archivebox_novnc:
    environment:
      DISPLAY_HEIGHT: ${DISPLAY_HEIGHT}
      DISPLAY_WIDTH: ${DISPLAY_WIDTH}
      RUN_XTERM: ${RUN_XTERM}
    image: theasp/novnc:latest
    ports:
    - protocol: tcp
      published: 18082
      target: 8080
  archivebox_scheduler:
    command:
    - schedule
    - --foreground
    - --update
    - --every=day
    environment:
      SEARCH_BACKEND_ENGINE: ${SEARCH_BACKEND_ENGINE}
      SEARCH_BACKEND_HOST_NAME: ${SEARCH_BACKEND_HOST_NAME}
      SEARCH_BACKEND_PASSWORD: ${SEARCH_BACKEND_PASSWORD}
      TIMEOUT: ${TIMEOUT}
    image: archivebox/archivebox:0.7.3
    volumes:
    - source: /AppData/$AppID/data
      target: /data
      type: bind
  archivebox_sonic:
    environment:
      SEARCH_BACKEND_PASSWORD: ${SEARCH_BACKEND_PASSWORD}
    image: archivebox/sonic:1.4.9
    volumes:
    - source: /AppData/$AppID/data/sonic
      target: /var/lib/sonic/store
      type: bind
