name: openhands
services:
  openhands:
    environment:
      SANDBOX_RUNTIME_CONTAINER_IMAGE: ${SANDBOX_RUNTIME_CONTAINER_IMAGE}
      WORKSPACE_MOUNT_PATH: ${WORKSPACE_MOUNT_PATH}
    image: docker.all-hands.dev/all-hands-ai/openhands:0.49
    ports:
      - protocol: tcp
        published: 13333
        target: 3000
    restart: 'unless-stopped'
    volumes:
      - source: /var/run/docker.sock
        target: /var/run/docker.sock
        type: bind
      - source: ${CONTAINER_DATA_ROOT}/openhands
        target: /.openhands
        type: bind
      - source: ${CONTAINER_DATA_ROOT}/workspace
        target: /opt/workspace_base
        type: bind
    logging:
      driver: journald
      options:
        tag: '{{.Name}}'
