name: photoprism
services:
  photoprism:
    environment:
      PHOTOPRISM_ADMIN_PASSWORD: ${PHOTOPRISM_ADMIN_PASSWORD}
      PHOTOPRISM_UPLOAD_NSFW: ${PHOTOPRISM_UPLOAD_NSFW}
      TZ: ${TZ}
    image: photoprism/photoprism:250228
    ports:
      - protocol: tcp
        published: 2342
        target: 2342
    restart: 'unless-stopped'
    volumes:
      - source: ${CONTAINER_DATA_ROOT}/photoprism/storage
        target: /photoprism/storage
        type: bind
      - source: ${CONTAINER_DATA_ROOT}/Gallery
        target: /photoprism/originals
        type: bind
    logging:
      driver: journald
      options:
        tag: '{{.Name}}'
