name: ztnet
services:
  ztnet:
    environment:
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}
      NEXTAUTH_URL: ${NEXTAUTH_URL}
      NEXTAUTH_URL_INTERNAL: ${NEXTAUTH_URL_INTERNAL}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      ZT_ADDR: ${ZT_ADDR}
    image: sinamics/ztnet:0.7.5
    ports:
    - protocol: tcp
      published: 3050
      target: 3000
    volumes:
    - source: /var/lib/zerotier-one
      target: /var/lib/zerotier-one
      type: bind
  ztnet-postgres:
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    image: postgres:15.2-alpine
    volumes:
    - source: /AppData/$AppID/postgres-data
      target: /var/lib/postgresql/data
      type: bind
