name: homebridge
services:
  homebridge:
    image: homebridge/homebridge:latest
    restart: 'unless-stopped'
    volumes:
      - source: ${CONTAINER_DATA_ROOT}/config
        target: /homebridge
        type: bind
    logging:
      driver: journald
      options:
        tag: '{{.Name}}'
