name: langflow
services:
  langflow:
    environment:
      LANGFLOW_CONFIG_DIR: ${LANGFLOW_CONFIG_DIR}
      LANGFLOW_DATABASE_URL: ${LANGFLOW_DATABASE_URL}
    image: langflowai/langflow:1.5.0
    ports:
    - protocol: tcp
      published: 17860
      target: 7860
    volumes:
    - source: /AppData/$AppID/backend
      target: /app/langflow
      type: bind
  langflow-postgres:
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    image: postgres:16
    volumes:
    - source: /AppData/$AppID/postgres
      target: /var/lib/postgresql/data
      type: bind
