name: ragflow
services:
  ragflow:
    environment:
      ES_HOST: ${ES_HOST}
      INFINITY_HOST: ${INFINITY_HOST}
      MINIO_HOST: ${MINIO_HOST}
      MYSQL_HOST: ${MYSQL_HOST}
      OS_HOST: ${OS_HOST}
      REDIS_HOST: ${REDIS_HOST}
      TZ: ${TZ}
    image: icewhaletech/ragflow:v0.21.1
    ports:
    - protocol: tcp
      published: 9380
      target: 9380
    - protocol: tcp
      published: 30080
      target: 80
    - protocol: tcp
      published: 10443
      target: 443
    - protocol: tcp
      published: 5678
      target: 5678
    - protocol: tcp
      published: 5679
      target: 5679
    - protocol: tcp
      published: 9382
      target: 9382
    volumes:
    - source: /AppData/$AppID/ragflow-logs
      target: /ragflow/logs
      type: bind
    - source: /AppData/$AppID/history_data_agent
      target: /ragflow/history_data_agent
      type: bind
  ragflow-es01:
    environment:
      BOOTSTRAP_MEMORY_LOCK: ${BOOTSTRAP_MEMORY_LOCK}
      CLUSTER_ROUTING_ALLOCATION_DISK_WATERMARK_FLOOD_STAGE: ${CLUSTER_ROUTING_ALLOCATION_DISK_WATERMARK_FLOOD_STAGE}
      CLUSTER_ROUTING_ALLOCATION_DISK_WATERMARK_HIGH: ${CLUSTER_ROUTING_ALLOCATION_DISK_WATERMARK_HIGH}
      CLUSTER_ROUTING_ALLOCATION_DISK_WATERMARK_LOW: ${CLUSTER_ROUTING_ALLOCATION_DISK_WATERMARK_LOW}
      DISCOVERY_TYPE: ${DISCOVERY_TYPE}
      ELASTIC_PASSWORD: ${ELASTIC_PASSWORD}
      NODE_NAME: ${NODE_NAME}
      TZ: ${TZ}
      XPACK_SECURITY_ENABLED: ${XPACK_SECURITY_ENABLED}
      XPACK_SECURITY_HTTP_SSL_ENABLED: ${XPACK_SECURITY_HTTP_SSL_ENABLED}
      XPACK_SECURITY_TRANSPORT_SSL_ENABLED: ${XPACK_SECURITY_TRANSPORT_SSL_ENABLED}
    image: elasticsearch:8.11.3
    ports:
    - protocol: tcp
      published: 9200
      target: 9200
    volumes:
    - source: /AppData/$AppID/es01
      target: /usr/share/elasticsearch/data
      type: bind
  ragflow-infinity:
    environment:
      TZ: ${TZ}
    image: icewhaletech/ragflow-infinity:v0.6.1
    ports:
    - protocol: tcp
      published: 23817
      target: 23817
    - protocol: tcp
      published: 23820
      target: 23820
    - protocol: tcp
      published: 15432
      target: 5432
    volumes:
    - source: /AppData/$AppID/infinity
      target: /var/infinity
      type: bind
  ragflow-minio:
    command:
    - server
    - --console-address
    - :9001
    - /data
    environment:
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      TZ: ${TZ}
    image: quay.io/minio/minio:RELEASE.2025-06-13T11-33-47Z
    ports:
    - protocol: tcp
      published: 9000
      target: 9000
    - protocol: tcp
      published: 9001
      target: 9001
    volumes:
    - source: /AppData/$AppID/minio
      target: /data
      type: bind
  ragflow-mysql:
    command:
    - --max_connections=1000
    - --character-set-server=utf8mb4
    - --collation-server=utf8mb4_unicode_ci
    - --default-authentication-plugin=mysql_native_password
    - --tls_version=TLSv1.2,TLSv1.3
    - --binlog_expire_logs_seconds=604800
    environment:
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      TZ: ${TZ}
    image: icewhaletech/ragflow-mysql:8.0.39
    ports:
    - protocol: tcp
      published: 5455
      target: 3306
    volumes:
    - source: /AppData/$AppID/mysql
      target: /var/lib/mysql
      type: bind
  ragflow-opensearch01:
    environment:
      BOOTSTRAP_MEMORY_LOCK: ${BOOTSTRAP_MEMORY_LOCK}
      CLUSTER_ROUTING_ALLOCATION_DISK_WATERMARK_FLOOD_STAGE: ${CLUSTER_ROUTING_ALLOCATION_DISK_WATERMARK_FLOOD_STAGE}
      CLUSTER_ROUTING_ALLOCATION_DISK_WATERMARK_HIGH: ${CLUSTER_ROUTING_ALLOCATION_DISK_WATERMARK_HIGH}
      CLUSTER_ROUTING_ALLOCATION_DISK_WATERMARK_LOW: ${CLUSTER_ROUTING_ALLOCATION_DISK_WATERMARK_LOW}
      DISCOVERY_TYPE: ${DISCOVERY_TYPE}
      HTTP_PORT: ${HTTP_PORT}
      NODE_NAME: ${NODE_NAME}
      OPENSEARCH_INITIAL_ADMIN_PASSWORD: ${OPENSEARCH_INITIAL_ADMIN_PASSWORD}
      OPENSEARCH_PASSWORD: ${OPENSEARCH_PASSWORD}
      PLUGINS_SECURITY_DISABLED: ${PLUGINS_SECURITY_DISABLED}
      PLUGINS_SECURITY_SSL_HTTP_ENABLED: ${PLUGINS_SECURITY_SSL_HTTP_ENABLED}
      PLUGINS_SECURITY_SSL_TRANSPORT_ENABLED: ${PLUGINS_SECURITY_SSL_TRANSPORT_ENABLED}
      TZ: ${TZ}
    image: hub.icert.top/opensearchproject/opensearch:2.19.1
    ports:
    - protocol: tcp
      published: 9201
      target: 9201
    volumes:
    - source: /AppData/$AppID/opensearch01
      target: /usr/share/opensearch/data
      type: bind
  ragflow-redis:
    command:
    - redis-server
    - --requirepass
    - infini_rag_flow
    - --maxmemory
    - 128mb
    - --maxmemory-policy
    - allkeys-lru
    image: valkey/valkey:8
    ports:
    - protocol: tcp
      published: 6379
      target: 6379
    volumes:
    - source: /AppData/$AppID/redis
      target: /data
      type: bind
  ragflow-sandbox-executor-manager:
    environment:
      SANDBOX_BASE_NODEJS_IMAGE: ${SANDBOX_BASE_NODEJS_IMAGE}
      SANDBOX_BASE_PYTHON_IMAGE: ${SANDBOX_BASE_PYTHON_IMAGE}
      SANDBOX_ENABLE_SECCOMP: ${SANDBOX_ENABLE_SECCOMP}
      SANDBOX_EXECUTOR_MANAGER_POOL_SIZE: ${SANDBOX_EXECUTOR_MANAGER_POOL_SIZE}
      SANDBOX_MAX_MEMORY: ${SANDBOX_MAX_MEMORY}
      SANDBOX_TIMEOUT: ${SANDBOX_TIMEOUT}
      TZ: ${TZ}
    image: infiniflow/sandbox-executor-manager:latest
    ports:
    - protocol: tcp
      published: 9385
      target: 9385
    volumes:
    - source: /var/run/docker.sock
      target: /var/run/docker.sock
      type: bind
